@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  font-size: 62.5%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background: linear-gradient(to right, #240b36, #c31432);
}

a {
  text-decoration: none;
  color: inherit;
}
